<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{provider.negocio}}">
    <ion-content id="background-provider" class="padding" style="background-image: url('{{provider.banner}}'); ">
        <img ng-src="{{provider.logo}}" style="width: 64px; height: 64px">

        <div class="card" style="opacity: 0.8;">
            <div class="item item-text-wrap">
                <pre style="text-shadow: 2px 2px 3px white;">{{provider.descripcion}}</pre>
            </div>
        </div>
        <div class="list card" style="opacity: 0.8;" ng-repeat="sucursal in provider.sucursales">
            <div class="item item-divider item-balanced">
                Sucursal {{sucursal.nombre}}
            </div>
            <div class="item item-divider">
                Dirección:
            </div>
            <div class="item item-text-wrap">
                Calle {{sucursal.calle}}
                #{{sucursal.numeroext}}
                {{sucursal.numeroint}},
                {{sucursal.colonia}},
                {{sucursal.localidad}},
                {{sucursal.municipio}}
                {{sucursal.estado}}
            </div>
            <div class="item item-divider">
                Teléfonos;
            </div>
            <div class="item item-text-wrap">
                {{sucursal.telefonos}}
            </div>
            <div class="item item-text-wrap">
                {{sucursal.celulares}}
            </div>
        </div>
    </ion-content>
</ion-view>
