<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{provider.negocio}}">
    <ion-content id="background-provider" class="padding" style="background-image: url('{{provider.banner}}'); ">
        <img ng-src="{{provider.logo}}" style="width: 64px; height: 64px">

        <div class="card" style="opacity: 0.8;">
            <div class="item item-text-wrap">
                <pre style="text-shadow: 2px 2px 3px white;">{{provider.descripcion}}</pre>
            </div>
        </div>
        <div class="list card" style="opacity: 0.8;" ng-repeat="sucursal in provider.sucursales">
            <div class="item item-divider item-balanced item-icon-right">
                Sucursal {{sucursal.nombre}}
                <i class="contact-icon icon ion-map" ng-click="geolocation(sucursal)"></i>
                <i style="font-size: 20px; color: #387ef5;" class="contact-icon icon ion-search" ng-click="geolocation(sucursal)"></i>
            </div>
            <div class="item item-divider">
                Dirección:
            </div>
            <div class="item item-text-wrap">
                Calle {{sucursal.calle}}
                #{{sucursal.numeroext}}
                {{sucursal.numeroint}},
                {{sucursal.colonia}},
                {{sucursal.localidad}},
                {{sucursal.municipio}}
                {{sucursal.estado}}
            </div>
            <div class="item item-divider">
                Teléfonos:
            </div>
            <div class="item item-text-wrap" ng-repeat="telefono in splitNumbers(sucursal.telefonos)">
                {{telefono}}
                <i ng-click="call(telefono)" class="contact-icon icon ion-android-call"></i>
            </div>
            <div class="item item-text-wrap" ng-repeat="celular in splitNumbers(sucursal.celulares)">
                {{celular}}
                <i ng-click="call(celular)" class="contact-icon icon ion-android-call"></i>
                <i ng-click="sms(celular)" class="contact-icon icon ion-android-textsms"></i>
            </div>
            <style>
                .contact-icon{
                    font-size: 25px;
                    margin-left: 15px
                }
                .contact-icon.ion-android-call{
                    color: green;
                }
                .contact-icon.ion-android-textsms{
                    color: orange;
                }
            </style>
        </div>
    </ion-content>
</ion-view>
