<ion-view view-title="{{negocio.nombre?negocio.nombre:'Mi Negocio'}}">
    <ion-header-bar class="bar bar-subheader item-input-inset">
        <div class="item item-checkbox col-50">
            <label class="checkbox">
                <input type="checkbox" ng-model="recordarLlave" ng-change="cambioRecordarLlave(recordarLlave, llave)">
            </label>
            Recuérdame
        </div>
        <button ng-show="negocio" ng-click="salir()" class="item-input col-50 button 
                icon-right ion-log-out button-assertive text-left">Salir</button>
    </ion-header-bar>
    <ion-content id="background-provider-preview" style="background-image: url('{{negocio.banner}}'); " >
        <div class="list" ng-hide="negocio">
            <label class="item item-input item-stacked-label item-text-wrap item-icon-right">
                <input placeholder="Llave de acceso" ng-model="llave" ng-change="almacenarLlave(llave)">
                <i class="icon ion-camera"></i>
            </label>
            <button class="button button-block button-positive button-outline" ng-click="entrar(llave)">Entrar</button>
        </div>
        <div ng-show="negocio" id="negocio">
            <div class="list" style="opacity: 0.8; background: white;">
                <label class="item item-input item-divider item-positive">
                    {{negocio.nombre}}
                </label>
                <label class="item item-input item-divider item-stable item-text-wrap">
                    Todos los campos son opcionales
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Negocio:</span>
                    <input ng-model="negocio.nombre" placeholder="Nombre de tu negocio">
                </label>
                <label class="item item-select item-stacked-label">
                    <span class="input-label positive">Categoria:</span>
                    <select ng-model="negocio.categoria_id">
                        <option ng-repeat="categoria in categorias" value="{{categoria.categoria_id}}">{{categoria.nombre}}</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Dueño:</span>
                    <input ng-model="negocio.duenio" placeholder="Nombre del dueño">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Descripcion:</span>
                    <textarea rows="10" ng-model="negocio.descripcion" placeholder="Describe aquí tu producto o servicio"></textarea>
                </label>
                <label class="item item-input item-stacked-label item-avatar">
                    <img src="{{negocio.logo}}">
                    <span class="input-label positive">Logo:</span>
                    <input ng-model="negocio.logo" placeholder="http://direccion/web">
                </label>
                <label class="item item-input item-stacked-label" style="background-image: url('{{negocio.banner}}'); 
                       background-size: auto 100%;
                       background-repeat: no-repeat;">
                    <span class="input-label positive">Banner:</span>
                    <input ng-model="negocio.banner" placeholder="http://direccion/web">
                </label>
            </div>
            <div class="list card" ng-repeat="(sucursalIndex, sucursal) in negocio.sucursales">
                <label class="item item-divider item-positive">
                    Surursal {{sucursal.nombre}}
                </label>
                <button class="button button-block button-assertive button-outline" ng-click="eliminarSucursal(sucursalIndex)">Eliminar Esta Sucursal</button>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Nombre:</span>
                    <input ng-model="sucursal.nombre">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Telefonos:</span>
                    <input ng-model="sucursal.telefonos">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Celulares:</span>
                    <input ng-model="sucursal.celulares">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Emails:</span>
                    <input ng-model="sucursal.emails">
                </label>
                <label class="item item-divider">
                    <span class="input-label positive">Dirección</span>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Calle:</span>
                    <input ng-model="sucursal.calle">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">N° Exterior:</span>
                    <input ng-model="sucursal.numero_exterior">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">N° Interior:</span>
                    <input ng-model="sucursal.numero_interior">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Entre calles:</span>
                    <input ng-model="sucursal.entre_calles">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Localidad:</span>
                    <input ng-model="sucursal.localidad">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Municipio:</span>
                    <input ng-model="sucursal.municipio">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Estado:</span>
                    <input ng-model="sucursal.estado">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Codigo Postal:</span>
                    <input ng-model="sucursal.codigo_postal">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label positive">Referencias:</span>
                    <input ng-model="sucursal.otras_referencias">
                </label>
            </div>
            <div class="list">
                <button class="button button-block button-positive" ng-click="nuevaSucursal()">Nueva Sucursal</button>
                <button class="button button-block button-balanced" ng-click="guardarCambios(llave)">Guardar todos los cambios</button>
            </div>
        </div>
    </ion-content>
</ion-view>
