<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- About Tab -->
  <ion-tab title="Acerca de" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Providers Tab -->
  <ion-tab title="Proveedores" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/providers">
    <ion-nav-view name="tab-providers"></ion-nav-view>
  </ion-tab>

  <!-- Location Tab -->
  <ion-tab title="Ubicación" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>


</ion-tabs>
